.FormContainer {
  margin: 10px auto;

  .select-form-btns {
    margin: 10px auto;
    display: flex;
    justify-content: center;

    .btn {
      margin: 0px 5px;
      font-size: 14px;
    }
  }
}
