.AttachmentField {
  .Dropzone {
    border: 1px dashed grey;

    p {
      margin-left: 1%;
    }
  }
  
  .thumbs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16;

    .thumb {
      display: inline-flex;
      border: 1px solid #eaeaea;
      margin-bottom: 8;
      margin-right: 8;
      padding: 4;
      box-sizing: border-box;
    };

    .thumb-inner {
      display: flex;
      min-width: 0;
      overflow: hidden;

      img {
        display: block;
        width: 100px;
        height: auto;
      };
    };
  };
}
