.CategoryPage {
    text-align: center;
    h1 {
   
      padding-top: 50px; // Adjust the heading margin
    }
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
   
  }
  
  .category-image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  