.ServiceForm {
  width: 40vw;
  // don't know why i need this random padding to align the form correctly with the create form buttons
  padding-left: 0.25%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
}
