@import '../../styles/fonts';

@mixin bp($point) {
  @if $point == tablet {
    @media (max-width: 768px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 375px) { @content; }
  }
}

.PortfolioContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;

  .masonry-on {
    display: initial;
  }

  .masonry-off {
    display: none;
  }

  .button-container {
    margin: 40px auto;
    
    .btn {
      margin: 5px;
  
      @include bp(tablet) {
        width: 90%;
      }
    
      @include bp(mobile) {
        width: 90%;
      }
    }
    
    @include bp(tablet) {
      width: 90%;
    }
  
    @include bp(mobile) {
      width: 90%;  }
  }
}

// all of these styles (or something similiar) should have already been set by
// the package! i don't know why mine looked not like how they do in the
// codesandbox and npm/readme examples
.react-images__view {
  height: 80vh !important;
}

.react-images__header, .react-images__navigation {
  span, svg {
    background-color: transparent;
  }
}

.react-images__footer__count {
  font-family: $classy;
  background-color: transparent;
}
